body{
    background-color: darkkhaki;
}
#grid {
    border: 2px dotted red;
    width: 800px;
    height: 800px;
    background-color: cadetblue;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    
}
.blank{
    border: 1px black solid;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}
.horizontal{
    border: 1px black solid;
    background-color: white;
}